<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="light-bg">
  <!--slider-->
  <ion-slides auto-play="2000" pager>
    <ion-slide *ngFor="let img of slides">
      <img class="full-image" src="{{ img }}" alt=""/>
    </ion-slide>
  </ion-slides>

  <div class="card white-bg" *ngFor="let store of stores" margin-top padding>
    <div class="border-bottom" padding-bottom (click)="viewRestaurant(store)">
      <strong>{{ store.name }}</strong>
      <br>
      <span ion-text color="dark">{{ store.address}}</span> 
    </div>
    <ion-grid no-padding margin-top>
      <ion-row>
        <ion-col col-12 col-sm-6 col-md-4 col-lg-3 class="item-block" *ngFor="let cat of store.cats"
        [ngStyle]="{'background-image': 'url(' + cat.thumbnail + ')'}" (click)="viewCategory(store, cat)"
       >
 <div class="bg">
   <div class="align-bottom">
     <h6 ion-text color="white">{{ cat.name }}</h6>
     <span ion-text color="white">{{ cat.itemCount }} items</span>
   </div>
 </div>
</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
