// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// import pages css

// end import pages css

// global styles

.primary-bg {
  background-color: color($colors, dark);
}

.secondary-bg {
  background-color: color($colors, secondary);
}

.gray-bg {
  background-color: color($colors, gray);
}

.light-bg {
  background-color: color($colors, light);
}

.white-bg {
  background-color: color($colors, white);
}

.padding-xs {
  padding: 10px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

.clear {
  clear: both;
}

.round {
  border-radius: 3px;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.border-bottom {
  border-bottom: 1px solid color($colors, border-color);
}

// text size
.text-2x {
  font-size: 2em;
}

.text-1x {
  font-size: 1em;
}

.text-sm {
  font-size: 0.7em;
}

// profile picture style
img.profile-picture {
  width: 7em;
  height: 7em;
  margin-top: 0.75em;
  border-radius: 50%;
}

// card style
.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

// list style
.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item-inner {
    border: none;
  }
}

.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid color($colors, border-color);

    .item-inner {
      border: none;
    }
  }
}

.list-ios[no-margin],
.list-md[no-margin],
.list-wp[no-margin] {
  margin: 0;
}

.list-ios[margin],
.list-md[margin],
.list-wp[margin] {
  margin: 16px;
}

// item style
.item.no-border {

  .item-inner {
    border: none;
  }
}

// style for auth pages
.auth-bg {
  background: url("../assets/img/bg.jpg") no-repeat center;
  background-size: 100% 100%;

  .scroll-content {
    justify-content: center;

    .login-content {
      width: 86%;
      margin-left: 7%;

      .logo {
        margin: 20px auto 0;
        padding: 0.2em 1.35em 0.1em 0.4em;
        width: 1.5em;
        border-radius: 10%;
        font-size: 3em;
      }

      .list-form {
        padding: 0;
        margin-bottom: 0;

        ion-item {
          background: none;
          padding: 0;

          &:first-child {
            border-top: none;
          }

          &:after {
            display: none;
          }

          ion-label {
            font-size: 1em;
            color: color($colors, light);
          }

          input {
            color: color($colors, light);
          }
        }
      }
    }
  }
}

// list items style
.list-items {
  .item-menu {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay {
      bottom: 0;
      padding: 10px;
      position: absolute;
      width: 100%;
      font-size: 1.5em;
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

// cart button group
.item-button-group {
  border-bottom: 1px solid color($colors, border-color);

  button {
    margin: 0;
    border-radius: 0;

    .text-2x {
      font-size: 2em;
    }
  }
}

// user profile
.profile-cover {
  padding-top: 1em;
  min-height: 160px;
  background: url("../assets/img/bg.jpg") no-repeat center;
  background-size: 100% auto;

  .profile-picture {
    width: 80px;
    height: 80px;
  }
}

// input style
ion-label[stacked] {
  font-size: 1.6rem;
}

// quantity input buttons
.input-qty {
  display: inline-block;
  border-top: 1px solid color($colors, border-color);
  border-bottom: 1px solid color($colors, border-color);

  .btn {
    border-left: 1px solid color($colors, border-color);
    border-right: 1px solid color($colors, border-color);
    padding: 6px 12px;
    float: left;
  }

  input {
    padding: 6px;
    float: left;
    border: none;
    text-align: center;
    max-width: 64px;
  }
}

// fix slider bug
ion-slides[pager] {

  .swiper-pagination {
    display: block !important;
  }
}

.swiper-pagination-bullet {
  background: color($colors, light)
}
// grid item style
ion-col.item-block {
  min-height: 100px;
  border: 1px solid color($colors, white);
  background-size: 100% auto;
  background-position: center center;

  .bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;

    .align-bottom {
      padding: 5px;

      h6 {
        margin-bottom: 0;
      }
    }
  }
}

